 
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    color: #333;
}
 
.main-header {
    background-color: #18c3af;
    padding: 30px 20px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.main-header h1 {
    margin: 0 0 10px;
}

.main-header p {
    margin: 0;
    color: #555;
}

 
.content {
    max-width: 800px;
    margin: 30px auto;
    padding: 0 20px;
    text-align: center;
}

.content h2 {
    margin-bottom: 10px;
}

.content p {
    line-height: 1.6;
}

 
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
    gap: 20px;
    max-width: 700px;
    margin: 30px auto;
    padding: 0 20px;
}
 
.grid-item{
    background-color: #da9e1d;
    padding: 40px;
    border-radius: 12px;
    text-align: center;
    font-size: 18px;
    box-shadow: 0 4px 10px rgba(164, 47, 47, 0.1);
}

 
@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;  
    }
}